div#dataTitle{
	clear:both;
	border:1px solid #006699;
	width:100%;
	background-color:#ccffcc;
	padding:5px 0 5px 5px;
}
div#contents{
	width:100%;
}
ul{
	list-style-type: none;
	
}
ul li{
	font-size:16px;
	
}
