div#dataTitle{
	clear:both;
	border:1px solid #006699;
	width:100%;
	background-color:#ccffcc;
	padding:5px 0 5px 5px;
}
span.red{
	color:red;
}
p.hissu{
	margin-top:5px;
	margin-bottom:5px;
}
.w20{
	width:20px;
}
.w40{
	width:40px;
}
.w200{
	width:200px;
}
p#pMsg{
	width:890px;
	margin:0 auto;
	text-align:left;
	margin-top:10px;
	margin-bottom:10px;
	padding:5px;
	border:1px dotted #ccc;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    box-shadow:5px 5px 3px #ccc;
    -moz-box-shadow:5px 5px 3px #ccc;
    -webkit-box-shadow:5px 5px 3px #ccc;
}
div.onChkhidden{
	width:100%;
	display:none;
	text-align:left;
	font-size:16.5px;
	border:1px solid #ccc;
	margin-top:3px;
}
div.onChkdisp{
	width:100%;
	text-align:left;
	font-size:16.5px;
	border:1px solid #ccc;
	margin-top:3px;
}


table#table th{
	width:150px;
}
table#table td{
	text-align:left;
	padding-left:10px;
	color:#333333;
}
table#table td select{
	padding:2.5px;
	border:1px solid #ccc;
}
table#table td input{
	padding:1.5px;
	border:1px solid #ccc;
}
table#table td input.w400{
	width:400px;
}


table#buyTbl{
	border-top:1px dotted #cccccc;
    border-left:1px dotted #cccccc;
    border-collapse:collapse;
    border-spacing:0;
    background-color:#ffffff;
    empty-cells:show;
	width:100%;
}
table#buyTbl th{
	border-right:1px dotted #cccccc;
    border-bottom:1px dotted #cccccc;
    color:#000000;
    background-color:#ffffff;
    background-position:left top;
    padding:0.3em 1em;
    text-align:center;
	width:20%;

}
table#buyTbl th.buyTle{
	background-color:#ccffcc;
	font-weight:normal;
	font-weight:bold;
	text-shadow: 5px 5px 5px gray;
}
table#buyTbl td{
	border-right:1px dotted #cccccc;
	border-bottom:1px dotted #cccccc;
	padding:0.3em 1em;
}
table#buyTbl td.right{
	text-align:right;
}

span.regMsg{
	color:red;
	font-size:12px;
}
#fin_disp{
	text-indent:-9999px;
}

.mgleft{
	margin-left:20px;
}

div.divPdf{
	border-bottom:1px dotted #ccc;
	padding:3px 0px 3px 3px;
	margin-right:10px;
}

ul#testlist{
	width:900px;
	margin:0 auto;
}
ul#testlist li{
	width:870px;
	list-style:none;
	margin-right:3px;
	text-align:left;
	border-bottom:1px dotted #ccc;
	font-size:20px;
	padding:5px;
}

input.onChk{
	padding-left:5px;
}
.pink{
	background-color:#ffe0e0;
}

ul.jyuken li{
	font-size:11px;
	background-color:#ffffff;
}
input.chk{
	width:20px;
	height:20px;
}
/*----------------------------------------------
��\���ؑւ�����
-----------------------------------------------*/
div.openBox{
	width:98%;
	border-bottom:1px dashed #ccc;
	padding:5px 0px 5px 3px;
	margin:0 auto;
}

div.openBox select{
	width:150px;
	padding:3px;
	border:1px solid #ccc;
}

.onWtbl{
	display:none;
}


table.wtable{
	border-top:1px solid #006699;
    border-left:1px solid #006699;
    border-collapse:collapse;
    border-spacing:0;
    background-color:#ffffff;
    empty-cells:show;
	width:100%;
	margin-top:10px;
}
table.wtable th{
	border-right:1px solid #006699;
	border-bottom:1px solid #006699;
	color:#000000;
	background-color:#e0e0ff;
	font-weight:normal;
	text-align:center;
	padding-left:1.5px;
	font-size:14px;
}
table.wtable td{
	border-right:1px solid #006699;
    border-bottom:1px solid #006699;
	text-align:center;
	padding:3px;
	height:30px;
}
table.wtable td input{
	width:80px;
	border:1px solid #ccc;
	text-align:right;
}

input.vf4Text{
	width:300px;
	border:1px solid #ccc;
	padding:1px;
}

div.indent{
	float:left;
	width:0;
	text-indent:-9999px;
	margin:0;
	padding:0;
}
.rseiRadio{
	position:absolute;
	margin-left:0;
	margin-top:5px;
}
.rseiRadioImg{
	position:absolute;
	margin-left:0;
	margin-top:5px;
}
div.rseiLeft{
	float:left;
}
div.rseiLeft2{
	padding-left:30px;
	float:left;
}

.tamen_type{
	position:absolute;
}
.tamen_typeImg{
	position:absolute;
}
.taleft{
	float:left;
}
.taleft2{
	float:left;
	margin-left:20px;
}

.regFinish{
	color:red;
	text-align:center;
	margin:10px;
}

div#btnBox{
	width:400px;
	text-align:center;
	margin:0 auto;
}

